version: "~> 1.0"

os: linux
language: shell

env:
  global:
    - HUGO_VERSION=0.58.3
    - LOGGER_ENDPOINT=/api/logs
    - PLAYER_VERSION_PROD=v2.2.2
    - MATOMO_SITE_ID_PROD=100
    - PLAYER_VERSION_QLF=v2.2.2
    - MATOMO_SITE_ID_QLF=101

git:
  quiet: true

notifications:
  email: false

before_install:
  - sudo apt-get update
  - sudo apt-get install -y unzip

install:
  - curl -LO https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_${HUGO_VERSION}_Linux-64bit.deb
  - sudo dpkg -i hugo_${HUGO_VERSION}_Linux-64bit.deb

before_script:
  - rm -rf build
  - mkdir build

script:
  - echo 'Building qlf files'
  - curl -LO https://github.com/dashdashzako/aiana-player/releases/download/${PLAYER_VERSION_QLF}/release.zip
  - unzip release.zip
  - rm release.zip
  - rm -rf static/locales
  - mv release/locales static/
  - mv release/manifest.yml data/manifest.yml
  - mv release/*.js static/js/
  - rm -rf release
  - 'echo "url: ${LOGGER_ENDPOINT}" > data/logger.yml'
  - 'echo "site_id: ${MATOMO_SITE_ID_QLF}" > data/matomo.yml'
  - hugo --destination build/qlf --gc --baseUrl http://qlf-mooc-accessibility.bordeaux.inria.fr/
  - rm static/js/*.js data/logger.yml data/matomo.yml data/manifest.yml
  - 'echo "env: qlf" > build/qlf/version'
  - 'echo "tag: ${TRAVIS_TAG}" >> build/qlf/version'
  - 'echo "player: ${PLAYER_VERSION_QLF}" >> build/qlf/version'
  - echo 'Building production files'
  - curl -LO https://github.com/dashdashzako/aiana-player/releases/download/${PLAYER_VERSION_PROD}/release.zip
  - unzip release.zip
  - rm release.zip
  - rm -rf static/locales
  - mv release/locales static/
  - mv release/manifest.yml data/manifest.yml
  - mv release/*.js static/js/
  - rm -rf release
  - 'echo "url: ${LOGGER_ENDPOINT}" > data/logger.yml'
  - 'echo "site_id: ${MATOMO_SITE_ID_PROD}" > data/matomo.yml'
  - hugo --destination build/prod --gc --baseUrl https://mooc-accessibility.inria.fr/
  - rm static/js/*.js data/logger.yml data/matomo.yml data/manifest.yml
  - 'echo "env: prod" > build/prod/version'
  - 'echo "tag: ${TRAVIS_TAG}" >> build/prod/version'
  - 'echo "player: ${PLAYER_VERSION_PROD}" >> build/prod/version'
  - echo 'Creating release ZIP archive'
  - mv build release
  - zip -r release.zip release

deploy:
  provider: releases
  edge: true
  file: release.zip
  on:
    repo: dashdashzako/mooc-accessibility-static
    tags: true
  token:
    secure: JipbDksZY1rWxbngdvsGF3xj5/Pp2StuMvxiHdKfZo22zZ/zUTrbni234prBy+myazL1mSwudPa7F1/AsJwzACEJN0a5ymexxKnQYOchWjndqYwsszdGSJRHwfdOaD+/h/29yQQEHNy684+G11ZQjSJl5Di1UvFZWhxn8O0X8u2aauF9ap+L3/YzA9qL6pO3kFOSmIGscBQHBFYqLHM7anPA95JQ4EAB8dA9CenDiDtQRxu0Fv4vRcJ6XdA/bKLMvUOEsWGzjeopXz+zS/lS/h41E/2pwWqTM9GkHSjqy/TQ6J3JnkEJtBcJG21QMZbDQsRUyiwH+lSmay2/HOWTmmpjygscioNrXz6CNzFhYon/CEhknegOdkgMOaQTV+0I7ZcTUiownC2xtKWJlaICoU2bBJJcnSZ4smEeXetLZBUvwX0D4js2854aBTpeEx2IKc15d+m1zsFVXN3K+Fdwj1pDKvwRf5ophWpeLcc1GMbQE0Z8uAFLeubRhZT/nrn7LbIOGSB5FbuNPY+3bYyOp1gaWarrx+y0WZd5ukhvMurcRnCkTUTuq4Fes29daNX+hhlc71Jh9XB1+mzcY4r3HbpmVjBdNdYC7nWgA23PpRZ9ai/RMinXuE4cOjnhW++qL4I6xdEHc+v9hR1h4EPujywCtwpnzUJLNAsM0HWsypQ=
