{{ define "styles"}}
  <link rel="stylesheet" href="{{ "/css/aiana.css" | relURL }}">
{{ end }}

{{ define "main" }}
  <noscript>
    {{ $video_src := (index (.Params.player.sources) 0).src -}}
    <video src="{{ $.Site.Params.mediaBaseURL }}/videos/{{ $.File.ContentBaseName }}/{{ $video_src }}" type="video/mp4" autoplay="false" preload="auto" controls>
      {{- if isset .Params "subtitles" -}}
      {{- range .Params.subtitles.sources }}
      <track kind="captions" label="{{ .label }}" src="{{ ($.Resources.GetMatch .src).RelPermalink }}" srclang="{{ .srcLang }}">
      {{- end -}}
      {{- end -}}
      {{- if isset .Params "chapters" -}}
      {{ range .Params.chapters.sources }}
      <track kind="chapters" label="{{ .label }}" src="{{ ($.Resources.GetMatch .src).RelPermalink }}" srclang="{{ .srcLang }}">
      {{- end -}}
      {{- end -}}
      {{- if isset .Params "additionalinformation" -}}
      {{ range .Params.additionalinformation.sources }}
      <track kind="metadata" label="{{ .label }}" src="{{ ($.Resources.GetMatch .src).RelPermalink }}" srclang="{{ .srcLang }}">
      {{- end -}}
      {{- end -}}
      {{- if isset .Params "slides" -}}
      {{ range .Params.slides.sources }}
      <track kind="metadata" label="{{ .label }}" src="{{ ($.Resources.GetMatch .src).RelPermalink }}" srclang="{{ .srcLang }}">
      {{- end -}}
      {{- end }}
    </video>
  </noscript>

  <div id="root"></div>

  <script>
    window.aiana = {{ (partial "configuration.json" .) | safeJS }};
  </script>

  {{- range $.Site.Data.manifest }}
  <script src="{{ (print "/js/" .) | relURL }}"></script>
  {{- end }}

  {{ printf "<!-- Build date: %s - Version: %s -->" (now.Format "Mon, 02 Jan 2006 15:04:05 MST") .GitInfo.AbbreviatedHash | safeHTML }}

{{ end }}